MYSQL_DATABASE=your_database_name
MYSQL_USER=your_username
MYSQL_PASSWORD=your_password
MYSQL_ROOT_PASSWORD=your_root_password
WORDPRESS_DB_HOST=db:3306
WORDPRESS_DB_USER=your_username
WORDPRESS_DB_PASSWORD=your_password
WORDPRESS_DB_NAME=your_database_name
WORDPRESS_AUTH_KEY=WORDPRESS_AUTH_KEY_SALT
WORDPRESS_SECURE_AUTH_KEY=WORDPRESS_SECURE_AUTH_KEY_SALT
WORDPRESS_LOGGED_IN_KEY=WORDPRESS_LOGGED_IN_KEY_SALT
WORDPRESS_NONCE_KEY=WORDPRESS_NONCE_KEY_SALT
WORDPRESS_AUTH_SALT=WORDPRESS_AUTH_SALT_SALT
WORDPRESS_SECURE_AUTH_SALT=WORDPRESS_SECURE_AUTH_SALT_SALT
WORDPRESS_LOGGED_IN_SALT=WORDPRESS_LOGGED_IN_SALT_SALT
WORDPRESS_NONCE_SALT=WORDPRESS_NONCE_SALT_SALT

